html, body {
  font: normal 13px/19px "Lucida Grande", "Lucida Sans Unicode", Lucida, arial, sans-serif;
  color: #333333; }

hr, p {
  margin-bottom: 0.8em; }

ul.square-list {
  list-style-type: square;
  margin-left: 1.5em;
  line-height: 1.2em; }

h1 {
  font-size: 2.2em;
  line-height: 1;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0.535em; }

h3 {
  font-size: 1.8em;
  line-height: 1;
  margin-bottom: 0.57em; }

h4 {
  font-size: 1.6em;
  line-height: 1;
  margin-bottom: 0.615em; }

h5 {
  font-size: 1.4em;
  line-height: 1;
  margin-bottom: 0.67em; }

h6 {
  font-size: 1.2em;
  line-height: 1;
  margin-bottom: 0.8em; }

h1, h2, h3, h4, h5, h6 {
  color: #333333; }

a:link, a:visited {
  color: #3399ff;
  text-decoration: none; }

a:hover, a:active {
  color: #cc3333;
  text-decoration: underline; }

form.formtastic li {
  padding: 10px 0px; }
  form.formtastic li li {
    padding: 0; }
form.formtastic fieldset {
  margin-top: 20px; }
form.formtastic li fieldset {
  padding: 0; }
form.formtastic legend, form.formtastic label {
  color: #333333; }
form.formtastic label, form.formtastic .label {
  padding-bottom: 5px; }
  form.formtastic label abbr, form.formtastic .label abbr {
    color: red; }
form.formtastic label {
  line-height: 1.4em;
  font-size: 13px; }
form.formtastic legend span {
  font-size: 1.4em;
  line-height: 1em; }
  form.formtastic legend span.label {
    font-size: 1em; }
form.formtastic select {
  padding: 3px; }
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-family: inherit;
  font-size: 14px; }
form.formtastic textarea, form.formtastic input {
  border: 1px solid #999999;
  padding: 6px 8px;
  line-height: 100%; }
form.formtastic input[type="text"], form.formtastic input[type="password"], form.formtastic textarea, form.formtastic select {
  background: white url(images/input.gif) repeat-x scroll 0 0;
  border: 1px solid #e5e3d8;
  padding: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
form.formtastic input[type="submit"], form.formtastic input[type="button"], form.formtastic input[type="checkbox"] {
  background: white url(images/input.gif) repeat-x scroll 0 0;
  border: 1px solid #aaaaaa;
  padding: 3px; }
form.formtastic input[type="checkbox"] {
  width: auto;
  margin-right: 3px; }
form.formtastic .numeric input[type="text"] {
  width: 200px;
  text-align: right; }
form.formtastic .date li, form.formtastic .time li, form.formtastic .datetime li {
  margin: 0 0.3em 0 0; }
form.formtastic #errorExplanation li {
  margin-left: 15px; }
form.formtastic form p, form.formtastic .errors {
  padding: 3px 0px; }
form.formtastic .required input, form.formtastic .required textarea, form.formtastic .required select {
  background-color: white; }
form.formtastic .error input, form.formtastic .error textarea, form.formtastic .error select {
  background-color: #ffcccc;
  border: 1px solid #ff6666; }
form.formtastic .optional input, form.formtastic .optional textarea, form.formtastic .optional select {
  background-color: white; }
form.formtastic .errors {
  color: #aa0000; }
  form.formtastic .errors li {
    margin-left: 1.2em; }
form.formtastic p.inline-errors {
  color: red; }
form.formtastic p.inline-hints {
  color: #777777;
  padding-top: 4px; }
form.formtastic .buttons {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px; }
  form.formtastic .buttons li {
    padding-right: 0.5em; }
  form.formtastic .buttons li.cancel {
    padding-top: 1.1em; }
  form.formtastic .buttons input {
    border: 1px solid #999999; }

.app-table {
  width: 100%; }
  .app-table thead tr th {
    text-align: left;
    white-space: nowrap;
    color: white;
    background-color: #576c82;
    padding: 2px; }
    .app-table thead tr th.left {
      text-align: left; }
    .app-table thead tr th.center {
      text-align: center; }
    .app-table thead tr th.right {
      text-align: right; }
    .app-table thead tr th.text {
      text-align: left; }
    .app-table thead tr th.integer {
      text-align: right; }
    .app-table thead tr th.float {
      text-align: right; }
    .app-table thead tr th.date {
      text-align: right; }
    .app-table thead tr th.time {
      text-align: right; }
    .app-table thead tr th.datetime {
      text-align: left; }
    .app-table thead tr th.email {
      text-align: left; }
    .app-table thead tr th.enum {
      text-align: left; }
    .app-table thead tr th.buttons {
      text-align: center;
      width: 65px; }
  .app-table tbody tr.ui-state-alternate {
    background-color: #eeeeff; }
  .app-table tbody tr td {
    border-bottom: 1px solid #aaaaaa;
    padding: 2px; }
    .app-table tbody tr td.left {
      text-align: left; }
    .app-table tbody tr td.center {
      text-align: center; }
    .app-table tbody tr td.right {
      text-align: right; }
    .app-table tbody tr td.text {
      text-align: left; }
    .app-table tbody tr td.integer {
      text-align: right; }
    .app-table tbody tr td.float {
      text-align: right; }
    .app-table tbody tr td.date {
      text-align: right; }
    .app-table tbody tr td.time {
      text-align: right; }
    .app-table tbody tr td.datetime {
      text-align: left; }
    .app-table tbody tr td.email {
      text-align: left; }
    .app-table tbody tr td.enum {
      text-align: left; }
    .app-table tbody tr td.buttons {
      text-align: center;
      width: 65px; }
    .app-table tbody tr td a {
      text-decoration: none;
      color: #333333; }
  .app-table tbody tr:hover {
    background-color: #dddddd; }
  .app-table tfoot tr td {
    border-top: 2px solid #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
    padding: 2px;
    font-weight: bold; }
    .app-table tfoot tr td.name {
      text-align: left; }
    .app-table tfoot tr td.value {
      text-align: right;
      padding-right: 70px; }
    .app-table tfoot tr td a {
      text-decoration: none; }
  .app-table tfoot tr:hover {
    background-color: #fbfbfb; }

.app-table.categories th.category-name {
  width: auto; }

.app-table.categories th.category-name {
  width: auto; }

#calendar a {
  text-decoration: none; }
#calendar a:hover {
  text-decoration: none; }
#calendar table {
  border-collapse: collapse;
  width: 100%; }
#calendar td, #calendar th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999999; }

#calendar th {
  background: #dddddd;
  color: #666666;
  text-align: center;
  width: 14.286%; }

#calendar td {
  background-color: #f7fbfd;
  color: #777777;
  height: 90px;
  vertical-align: top;
  font-size: 16px;
  text-align: right; }
  #calendar td div.day {
    font-size: 10px;
    text-align: left; }
  #calendar td div.add_day {
    padding-top: 15px;
    vertical-align: center;
    font-size: 50px;
    text-align: center;
    display: none; }
  #calendar td:hover {
    background-color: #e5f2ff; }
  #calendar td:hover div.add_day {
    display: block; }

#calendar .notmonth {
  background-color: white; }

#calendar .today {
  background-color: #e5f2ff;
  border: 1px dashed #999999; }

#calendar .weekend {
  background-color: #fefce3; }

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }
  #calendar #month a {
    padding: 0 10px;
    color: #999999; }
  #calendar #month a:hover {
    padding: 0 10px;
    color: #999999; }

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none; }

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center; }

.app-table.products th.product-name {
  width: 350px; }
.app-table.products th.product-actions {
  width: 150px; }
.app-table.products td.product-energy {
  font-weight: bold; }

.pagination {
  text-align: center;
  padding: 0.3em;
  margin-top: 7px; }
  .pagination a, .pagination span {
    padding: 0.2em 0.5em; }
  .pagination span.disabled {
    border: 1px solid #aaaaaa;
    color: #aaaaaa; }
  .pagination span.current {
    font-weight: bold;
    background-color: #eeeeee;
    color: #364b69;
    border: 1px solid #aaaaaa; }
  .pagination a {
    border-top: 1px solid #5c738a;
    background: #445566;
    color: #eeeeee;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-top: 1px solid #7593b0;
      background: #576c82;
      color: #eeeeee; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .prev_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }

.app-flash .flash-message {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-align: center;
  margin: 0 auto 5px;
  width: 80%; }
  .app-flash .flash-message p {
    margin: 8px; }
.app-flash .error {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd; }
.app-flash .warning {
  border: 1px solid #ffff66;
  background-color: #ffffcc; }
.app-flash .notice {
  border: 1px solid #c6c6c6;
  background-color: #e6e6e6; }

body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#app-container {
  width: 881px;
  margin-top: 40px;
  margin: 0 auto;
  background: white;
  padding: 0;
  margin-top: 40px;
  border: solid 1px #cccccc; }

#content-container {
  width: 800px;
  margin: 0 auto;
  background: white;
  padding: 0px 40px 20px 40px;
  margin-top: 10px; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  width: 70%; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#user_nav {
  float: right;
  font-size: 12px; }

form.formtastic li label, form.formtastic li legend span.label {
  font-weight: bold; }
form.formtastic li li label {
  font-weight: normal; }
form.formtastic ul, form.formtastic ol, form.formtastic legend, form.formtastic p {
  margin: 0;
  padding: 0; }
form.formtastic li {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px; }
form.formtastic fieldset {
  display: block;
  *display: inline-block; }
  form.formtastic fieldset:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal;
  font-weight: normal; }
form.formtastic ol, form.formtastic ul {
  list-style: none; }
form.formtastic label {
  display: block;
  *display: inline-block; }
  form.formtastic label:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
form.formtastic input, form.formtastic textarea {
  vertical-align: middle; }
form.formtastic .check_boxes input, form.formtastic .radio input {
  margin: 0; }
form.formtastic .check_boxes label, form.formtastic .radio label {
  cursor: pointer; }
form.formtastic .hidden {
  display: none; }
form.formtastic .date li, form.formtastic .time li, form.formtastic .datetime li {
  float: left;
  width: auto;
  clear: none; }
form.formtastic .date input, form.formtastic .time input, form.formtastic .datetime input {
  display: inline;
  margin: 0;
  padding: 0; }
form.formtastic .errors {
  list-style: square; }
  form.formtastic .errors li {
    padding: 0;
    border: none;
    display: list-item;
    float: none;
    clear: both; }
form.formtastic .inputs {
  z-index: 99; }
form.formtastic .buttons li {
  float: left; }
form.formtastic li {
  *display: inline-block;
  display: block; }
  form.formtastic li:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  form.formtastic li fieldset {
    border: none;
    position: relative;
    margin-top: 0px; }
  form.formtastic li legend {
    display: block;
    margin-bottom: 0; }
  form.formtastic li .label {
    display: block;
    clear: both;
    background: transparent; }
  form.formtastic li ol {
    float: left;
    margin: 0; }
    form.formtastic li ol li {
      padding: 0;
      border: 0;
      display: inline; }
form.formtastic fieldset {
  width: 100%; }
form.formtastic label {
  float: left;
  width: 18%;
  text-align: left;
  padding-left: 2%; }
form.formtastic li ol {
  padding: 0 8% 0 20%; }
form.formtastic li fieldset legend, form.formtastic li fieldset legend .label {
  display: block; }
form.formtastic li fieldset legend {
  width: 18%;
  text-align: left;
  display: inline;
  float: left;
  clear: none;
  padding-left: 2%;
  width: 98%; }
form.formtastic li fieldset .label {
  position: absolute;
  width: 18%;
  top: 0px;
  left: 2%; }
form.formtastic li fieldset label {
  padding-left: 0; }
form.formtastic li fieldset label, form.formtastic li fieldset input {
  width: auto;
  display: inline;
  clear: none;
  text-align: left; }
form.formtastic li fieldset select {
  padding: 0;
  clear: both;
  display: block; }
form.formtastic .inline-hints, form.formtastic .inline-errors, form.formtastic .errors {
  margin: 0 0 0 20%; }
form.formtastic input, form.formtastic textarea {
  width: 72%; }
form.formtastic select {
  width: auto; }
form.formtastic .checkbox li, form.formtastic .radio li {
  display: block;
  clear: both; }
form.formtastic .checkbox input, form.formtastic .radio input {
  border: none; }
form.formtastic .buttons {
  padding-left: 20%;
  width: 80%; }
  form.formtastic .buttons input {
    width: auto; }
  form.formtastic .buttons li {
    width: auto;
    float: left;
    display: inline; }
form.formtastic #errorExplanation {
  margin-left: 20%;
  width: 72%; }
form.formtastic .radio ol, form.formtastic .check_boxes ol {
  display: inline;
  float: left;
  clear: none; }
form.formtastic .radio li, form.formtastic .check_boxes li {
  width: auto;
  display: inline;
  float: left;
  clear: none; }
form.formtastic .radio input, form.formtastic .check_boxes input {
  float: none;
  display: inline; }
form.formtastic .radio label, form.formtastic .check_boxes label {
  display: block;
  clear: none;
  width: auto;
  padding-left: 0;
  line-height: 150%;
  margin-right: 10px; }

#nav {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  border-bottom: 1px solid #cccccc; }
  #nav li.right {
    float: right; }
  #nav li.selected {
    background-color: #dddddd;
    font-weight: bold; }
  #nav li {
    float: left; }
    #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      color: #4b7399;
      border-right: 1px solid #cccccc; }

#nav li a:hover {
  color: #cc0000; }

.app-footer {
  position: relative;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #dddddd;
  border-top: 1px solid #bbbbbb; }
  .app-footer p {
    text-align: right;
    margin: 15px 0;
    padding: 0 10px; }
