.app-table.categories

  th.category-name
    width: auto


#calendar

  a
    text-decoration: none
  a:hover
    text-decoration: none

  table
    border-collapse: collapse
    width: 100%

  td,th
    font-family: "Lucida Grande",arial,helvetica,sans-serif
    font-size: 10px
    padding: 6px
    border: 1px solid #999


#calendar
  th
    background: #DDD
    color: #666
    text-align: center
    width: 14.2857142857143%


#calendar
  td
    background-color: #F7FBFD
    //background: #FFF
    color: #777
    height: 90px
    vertical-align: top
    font-size: 16px
    text-align: right

    div.day
      font-size: 10px
      text-align: left

    div.add_day
      padding-top: 15px
      vertical-align: center
      font-size: 50px
      text-align: center
      display: none

    &:hover
      background-color: #E5F2FF
      //cursor: pointer
    &:hover div.add_day
      display: block


#calendar .notmonth
  background-color: #FFF

#calendar .today
  //background-color: #D7F2FF
  background-color: #E5F2FF
  border: 1px dashed #999

#calendar .weekend
  background-color: #FEFCE3


#calendar
  #month
    margin: 0
    padding-top: 10px
    padding-bottom: 10px
    text-align: center

    a
      padding: 0 10px
      color: #999
    a:hover
      padding: 0 10px
      color: #999

#calendar
  ul
    margin: 0
    margin-top: 5px
    padding: 0
    list-style: none


#calendar
  li
    margin: 0
    padding: 0
    font-size: 11px
    text-align: center
