$calendar_link_color: #999999

.app-table.categories
  th.category-name
    width: auto

#calendar
  a
    text-decoration: none
  a:hover
    text-decoration: none
  table
    border-collapse: collapse
    width: 100%
  td,th
    font-family: "Lucida Grande", arial, helvetica, sans-serif
    font-size: 10px
    padding: 6px
    border: 1px solid #999999
  th
    background: #dddddd
    color: #666666
    text-align: center
    width: 14.286%
  td
    background-color: #f7fbfd
    //background: #FFF
    color: #777777
    height: 90px
    vertical-align: top
    font-size: 16px
    text-align: right
    div.day
      font-size: 10px
      text-align: left
    div.add_day
      padding-top: 15px
      vertical-align: center
      font-size: 50px
      text-align: center
      display: none
      font-weight: bold
      &:hover
        a
          color: $link_color
    &:hover
      background-color: #e5f2ff
      div.add_day
        display: block
  .notmonth
    background-color: white
  .today
    background-color: #e5f2ff
    border: 1px dashed #999999
  .weekend
    background-color: #fefce3
  ul
    margin: 0
    margin-top: 5px
    padding: 0
    list-style: none
  li
    margin: 0
    padding: 0
    font-size: 11px
    text-align: center
  #month
    margin: 0
    padding-top: 10px
    padding-bottom: 10px
    text-align: center
    a
      padding: 0 10px
      color: $calendar_link_color
      &:hover
        padding: 0 10px
        color: $calendar_link_color
