- title "Products"

%table
  %tr
    -# %th Category
    %th Name
    %th Water
    %th Protein
    %th Fat
    %th Carbohydrate
    %th Energy
  - for category in @categories  
    -# - @products.select {|p| p.category_id == category.id}.each do |product|
    %tr
      %td(colspan="6" style="text-align: center")
        %h4= category.name.capitalize
    
    = render(:partial => "product", :collection => @products.select {|p| p.category_id == category.id})

%p= link_to "New Product", new_product_path
